
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Mental Health Resources</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
<h1>Mental Health Resources</h1>
</header>
<main>
<section>
<h2>Welcome</h2>
<p>
This website provides a collection of mental health resources, including organizations, helplines, and support groups. If you or someone you know is struggling with mental health, please reach out for help.
</p>
</section>
<section>
<h2>Resources</h2>
<ul>
<li><a href="/resources">Organizations</a></li>
<li><a href="/resources">Helplines</a></li>
<li><a href="/resources">Support Groups</a></li>
</ul>
</section>
<section>
<h2>About</h2>
<p>
This website was created by a group of volunteers who are passionate about mental health. We hope that this website will help people find the resources they need to get the help they deserve.
</p>
</section>
</main>
<footer>
<p>
Copyright 2023 Mental Health Resources. All rights reserved.
</p>
</footer>
</body>
</html>


